/* MAIN STYLE */ 
* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    width: 100%;
    min-height: 100%;
    background: linear-gradient(180deg, #044C8E 0%, #212121 100%);
    padding-bottom: 10px;
}

.indent {
    padding-left: 300px;
    padding-right: 300px;
}

.content-section {
    width: calc(100% - 600px);
    height: auto;
    padding-top: 84px;
}

.header {
    display: flex;
    align-items: center;
    width: calc(100% - 600px);
    position: fixed;
    height: 64px;
    background-color: rgb(20, 20, 20);
}

.logo-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    border-radius: 50%;
}

.logo-heading {
    color: white;
    margin-left: 10px;
}

.preview-block {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/bckg.PNG');
    background-position: center;
    background-size: cover;
}

.box-text {
    text-align: center;
    color: white;
}

.heading-block {
    font-size: 40px;
    color: white;
    width: 100%;
    margin: 150px 0 20px 0;
    font-weight:  700;
}

.block-info {
    font-size: 20px;
    color: white;
    font-weight: 200;
}

.main-btn {
    width: 100%;
    height: 60px;
    margin: 100px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #18A5E2 0%, #0D3C51 99.99%, #083041 100%);
}

.main-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}


/* MEDIA */
@media screen and (max-width: 1100px) {
    .indent {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .content-section {
        width: calc(100% - 200px);
    }
    
    .header {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 800px) {
    .indent {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .content-section {
        width: calc(100% - 100px);
    }
    
    .header {
        width: calc(100% - 100px);
    }

    .heading-block {
        font-size: 35px;
    }
    .block-info {
        font-size: 16px;
        color: white;
        font-weight: 200;
    }

    .box-text h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .indent {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .content-section {
        width: calc(100% - 60px);
    }
    
    .header {
        width: calc(100% - 60px);
    }

    .box-text h1 {
        font-size: 21px;
    }

    .box-text p {
        font-size: 13px;
    }

    .heading-block {
        font-size: 30px;
    }
}
